div.wrapper {
    width: 800px;
    margin: 0px auto;
    background-color: #fafafa;
    padding: 50px 30px;
}

h1, p {
    margin: 30px 50px;
}

h1 {
    text-align: center;
}

body {
    background-image: url('rough_diagonal.png');
    background-repeat: repeat;
}

a, h1, p {
    font-family:"Georgia", Times, serif;
    color: #444;
}
